/* this is global so no need to import it */
/* TODO: better theming system */

html {
  color-scheme: light;

  /* omniblocks colours */
  --accent-1: #59c0c0;
  --accent-2: #49b0b0;
  --accent-3: #2c8787;

  /* generic stuff */
  --shell-background: #e6e6e6;
  --white: white;
  --page-foreground: black;
  --black-transparent: #00000011;
  --white-transparent: #ffffff11;
  --modal-overlay: #59c0c08f;
}

/* turn the light stuff into dark */
html.ob-dark-theme {
  color-scheme: dark;

  --shell-background: #33333f;
  --white: #111;
  --page-foreground: white;
  --black-transparent: #ffffff22;
  --white-transparent: #00000022;
  --modal-overlay: #00000058;
}